@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #20242D;
    margin: 20px;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}

.imagem-topo {
    width: 100%;
    height: 230px;
    object-fit: cover;
    /*sobrepoe o conteúdo na imagem*/
    position: relative;
}

.container {
    width: 375px;
    height: 812px;
    margin: auto;
    background-color: #F9EEFF;
}

.container-content {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 325px;
    margin: -95px 25px;
    padding: 20px;
    box-sizing: border-box;
    /*sobrepoe o conteúdo na imagem*/
    position: absolute;

}

/* .borda{
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
} */

.star-icon{
    width: 20px;
    float: left;
}

h1{
    float: none;
    left: 20px;

}

/* img{
    display: flex;
    float: right;
    margin-top: -30px;
 } */




/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #20242D;
    margin: 20px;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Work Sans', sans-serif;
} */
/* 
.container {
    width: 375px;
    height: 812px;
    margin: auto;
    background-color: #F9EEFF;
    cursor: pointer;
}

.fundo {
    width: 100%;
    height: 230px;
    object-fit: cover;
    position: relative;
}

.container-content {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 325px;
    margin: -95px 25px;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
}

.estrela {
    width: 20px;
}

h1 {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 30px;
    color: #2E1232;
    font-size: 1.6em;
}

.quebra {
    display: flex;
    flex-wrap: wrap;
}

.pergunta1,
.pergunta2,
.pergunta3,
.pergunta4 {
    color: #231725;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 30px;
}

#mais1,
#menos1 {
    right: 25px;
    top: 80px;
    position: absolute;
    width: 25px;
}

#mais2,
#menos2 {
    display: flex;
    right: -255px;
    top: -20px;
    position: relative;
    width: 25px;
}

#mais3,
#menos3,
#mais4,
#menos4 {
    display: flex;
    right: -255px;
    top: -35px;
    position: relative;
    width: 25px;
}

#menos1,
#menos2,
#menos3,
#menos4 {
    display: none;
}

#resposta1,
#resposta2,
#resposta3,
#resposta4 {
    font-size: 0.9em;
    color: #C7C0C8;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.050);
    font-weight: 600;
    line-height: 20px;
    display: none;
}

@media screen and (min-width: 1000px) {
    .container {
        width: 1150px;
        height: px;
        margin: px;
        background-color: #F9EEFF;
        overflow: hidden;
    }

    .container-content {
        margin: -95px 325px;
        width: 500px;
    }

    .estrela {
        width: 30px;
    }

    h1 {
        font-size: 2.5em;
    }

    .quebra {
        display: inline;
        flex-wrap: nowrap;
    }

    #mais1,
    #menos1 {
        right: 35px;
        top: 90px;
        position: absolute;
    }

    #mais2,
    #menos2 {
        display: flex;
        right: -420px;
        top: -25px;
        position: relative;
    }

    #mais3,
    #menos3,
    #mais4,
    #menos4 {
        display: flex;
        right: -420px;
        top: -20px;
        position: relative;
    }

    #menos1,
    #menos2,
    #menos3,
    #menos4 {
        display: none;
    }

    .pergunta1:hover {
        color: #AD28EB;
    }

    .pergunta2:hover {
        color: #AD28EB;
    }

    .pergunta3:hover {
        color: #AD28EB;
    }

    .pergunta4:hover {
        color: #AD28EB;
    }
} */